.mvv-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  line-height: 0.6em;
}

.mvv-table td {
  padding: 8px;
  text-align: left; 
}

.mvv-table .icon-cell {
  text-align: center;
}

.productsvg {
  height: 0.8em;
}
