.MMM-MVVWiesty .module-content {
  max-width: 25vw !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.mvv-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse !important;
  font-size: 1em;
  line-height: 1.2em;
  box-sizing: border-box;
}

.notification-cell {
  width: 100% !important;
  overflow: hidden;
}

.productsvg {
  height: 0.8em;
}

.direction-cell {
  width: 8vw;
  padding: 4px 8px 0 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-cell {
  width: 6vw;
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.until-cell {
  width: 3vw;
  padding: 0 0;
  white-space: nowrap;
  overflow: hidden;
}

.line-cell, .icon-cell {
  width: 1vw;
  padding-right: 5px;
  text-align: start;
}

.mvv-table tr.departure-row, .mvv-table .notification-cell {
  border-bottom: 1px solid #474747;
}

.mvv-table tr:last-child {
  border-bottom: none;
}

.mvv-table td {
  text-align: left;
  box-sizing: border-box;
}


.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.scroll-text {
  display: inline-block;
  transform: translateX(100%);
  animation: scroll-animation linear infinite;
  box-sizing: border-box;
  white-space: nowrap;
}

@keyframes scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}